@{
    Layout = "_Layout";
}
<div class="container" id="topBanner">
      <div class="jumbotron">
          <h1 class="fontsforweb_fontid_511">WORD COUNTER</h1>
          <hr>
          <h6>A simple MVC program by <bold>Ernest Bruno</bold></h5>
      </div>
</div>
<div class="container">
    <p>This program allows you, the user, to enter a word or a sentence that <em> DOES NOT CONTAIN ANY SPECIAL CHARACTERS </em> and displays each word along with the number of instances they appear in the sentence after clicking the submit button (which sends you to the result page).</p><br>
    <p> <strong>** THERE ARE NO CHARACTER LIMITS ** </strong></p>
    <br><br>
</div>
<div class="container">
    <form action="/result" method="post">
        <label for="userInput">Please enter a sentence: </label><br>
        <input type="text" name="userInput" pattern="[A-Za-z .,]+" title="Non-alphabetical characters are not accepted." required>
        <br><br><hr>
        <button type="submit" name="button" class="btn">SUBMIT</button>
        <br>
        <br>
    </form>
</div>
