@{
    Layout = "_Layout";
}

<div class="container" id="resultContainer">
    <h1 class="fontsforweb_fontid_511">Here are the results!</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h4 class="fontsforweb_fontid_511">WORD</h4>
        </div>
        <div class="col-md-6">
            <h4 class="fontsforweb_fontid_511"># OF INSTANCES</h4>
        </div>
    </div>

    <hr>
    @foreach (KeyValuePair<string,int> pair in Model)
    {
        <div class="row">
            <div class="col-md-6">
                <p class="fontsforweb_fontid_511">@pair.Key</p>
            </div>
            <div class="col-md-6">
                <p class="fontsforweb_fontid_511">@pair.Value</p>
            </div>
        </div>
    }
    <br>
    <hr>
    <br>
    <a href="/"><button type="button" name="return" class="btn">Return</button></a><br><br><br>
</div>
