<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter | Ernest Bruno</title>
    <link rel='stylesheet' href='/css/bootstrap.css'>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/LCDM2U/font.css">
  </head>
  <body>

    @RenderBody()
    @Html.Partial("Footer")
  </body>
</html>
