<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Word Counter | Ernest Bruno</title>
    <link rel='stylesheet' href='/css/bootstrap.css'>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
      <div class="container" id="topBanner">
            <div class="jumbotron">
                <h1>WORD COUNTER</h1>
                <hr>
                <h6>A simple MVC program by <bold>Ernest Bruno</bold></h5>
            </div>
      </div>
    @RenderBody()
    @Html.Partial("Footer")
  </body>
</html>
